[submodule "planning"]
	path = planning
	url = https://github.com/TechFreeKorea/galaxpp_planning.git
[submodule "development"]
	path = development
	url = https://github.com/TechFreeKorea/galaxpp_development.git
[submodule "design"]
	path = design
	url = https://github.com/TechFreeKorea/galaxpp_design.git
[submodule "deployment"]
	path = deployment
	url = https://github.com/TechFreeKorea/galaxpp_deployment.git
[submodule "qa"]
	path = qa
	url = https://github.com/TechFreeKorea/galaxpp_qa.git
[submodule "contract"]
	path = contract
	url = https://github.com/TechFreeKorea/galaxpp_contract.git
